{% extends 'base.html.twig' %}

{% block title %}Edit Barrow{% endblock %}

{% block body %}
    <h1>Edit Barrow</h1>

    {{ include('barrow/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('barrow_index') }}">back to list</a>

    {{ include('barrow/_delete_form.html.twig') }}
{% endblock %}
